$gellary-h-font-family: $font-guerrilla;
$gellary-h-color: $color-soft-black;
$gellary-text-color: $color-soft-black;
$gellary-hover-text-shadow: $color-yellow;
$gellary-hover-time: $transition-fast;

.gellary{
    .content-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;
        overflow: hidden;
    }
    h2{
        margin: 0;
        padding-bottom: 35px;
        color: $gellary-h-color;
        font-family: $gellary-h-font-family;
        font-size: 1.6rem;
        line-height: 100%;
        text-align: center;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        padding: 0 0 20px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    @media(min-width: $screen-md){
        h2{
            font-size: 3rem;
            padding-bottom: 80px;
        }
        .content-inner{
            padding: 130px 0 100px;
        }
        .list{
            margin-left: -20px;
            margin-right: -20px;
        }
        .item{
            padding: 20px;
            width: 50%;
        }
    }
}
