.our-advantages{
    background-color: $color-purple;

    .content-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;
    }
    h2{
        margin: 0;
        padding-bottom: 80px;
        color: $color-white;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }
    .item{
        display: flex;
        flex-direction: column;
        border-radius: .6rem;
        overflow: hidden;
        background-color: $color-white;
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }
    .img-container{
        height: 200px;
        width: 100%;
        // min-width: 336px;
        // width: 336px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .text-inner{
            padding: 20px;

        }
    }

    .text-header{
        display: flex;
        padding-bottom: 15px;

        .text-header__img-continer{
            height: 44px;
            min-width: 44px;
            width: 44px;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;

            }
        }
        span{
            padding-left: 15px;
            font-weight: 700;
            font-size: 1.1rem;
        }
    }
    .text-content{
        font-size: 0.87rem;
        color:$color-grey;
    }

    .global-btn_container{
        padding-top: 80px;
        padding-bottom: 40px;
    }

    @media(min-width: $screen-md){
        .content-inner{
            padding: 100px 0;
        }
        .item{
            flex-direction: row;
        }
        .img-container{
            height: 400px;
            width: 50%;
        }
        .text-container{
            height: 400px;
            width: 50%;
        }
        .text-inner{
            max-width: 340px;
        }
    }
}
