.tour_discount{
    .content-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;
    }
    .text-container{padding-bottom: 15px}
    .main-text{
        width: 100%;
        color: $color-soft-black;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        overflow: hidden;
        .big{font-size: 2em;
            b{color:$color-yellow}
        }
    }
    .sub-text{
        display: inline-block;
        width: 100%;
        font-size: 0.9rem;
        text-align: center;
    }
    // форма
    .form{}
    .input-item{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 15px;
        label{
            padding-left: 20px;
            font-size: 0.8rem;
        }
        input{
            padding: 16px 18px;
            height: 50px;
            width: 100%;
            max-width: 450px;
            border:2px solid $color-white;
            border-radius: 5px;
            box-shadow: 0px 10px 25px rgba(223, 102, 93, 0.26);
            font-size: 0.9rem;
            color: $color-grey;
            transition: $transition-fast;
            &:focus{
                outline:none;
                border: 2px solid $color-yellow;
                transition: $transition-fast;
            }
        }
    }
    .input-item-checkbox{
        display: flex;
        padding-left: 30px;
        padding-bottom: 15px;
        font-size: 0.8rem;
        color: $color-soft-black;

        label{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: -30px;;
                transform: translateY(-50%);
                height: 1rem;
                width: 1rem;
                border-radius: 5px;
                background-color: $color-white;
                box-shadow: 0px 10px 25px rgba(223, 102, 93, 0.26);
            }
            &::after{
                content: "";
                opacity: 0;
                position: absolute;
                top: 50%;
                left: -30px;;
                transform: translateY(-50%);
                height: 1rem;
                width: 1rem;
                background-image: url($path+'/img/tick.svg');
                transition: $transition-fast
            }
            cursor: pointer;
        }
        input{
            display: none;
        }
        input:checked + label::after{
            opacity: 1;
            transition: $transition-fast
        }
        a{
            color: $color-soft-black;
            text-decoration:underline;
        }
    }
    .input-item-submit{
        display: flex;
        .global-btn{
            border: none;
            width: 100%;
            max-width: 450px;
        }
    }
    .input-item,
    .input-item-checkbox,
    .input-item-submit{
        justify-content: center;
        align-items: center;
    }
    // социальные сети и телефон
    .social-container{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15px;
        height: 125px;
        background-color: $color-soft-red;
        border-radius: 0 10px 0 0;

        @media(min-width: $screen-xl){
            display: flex;
            width: calc( ( 100vw - #{$screen-xl} )/2 + 457px );
        }
        @media(min-width: $screen-hd){
            width: calc( ( 100vw - #{$screen-hd} )/2 + 457px );
        }

        .social-name{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            min-width: 250px;
            color: $color-white;
            font-weight: 700;
        }

        .social-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            min-width: 450px;
        }
        .item{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
        .soc-img{
            display: inline-block;
        }

        .tel{
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 40px;
            height: 35px;
            color: $color-white;
            font-weight: 700;
            transition: $transition-fast;
            &:hover,
            &:focus,
            &:active{
                text-decoration: none;
                text-shadow: 0px 2px 10px #FCC50D;
                transition: $transition-fast;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 35px;
                width: 35px;
                background-image: url($path+'/img/social_phone_white.png');
            }
        }
    }

    .decoration{
        position: relative;
        .decoration-bg{
            overflow: hidden;
            height: 350px;
            width: 100%;
            /* transform: inherit; */
            bottom: 0;

        }
        .decoration-inner{
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        .kid_1{
            height: 100%;

            width: 100%;
            object-fit: contain;
        }
        @media(min-width: $screen-sm){
            .decoration-bg{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 0;
                height: 700px
            }
            .decoration-inner{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: $screen-sm;
            }
            .decoration-bg{
                height: 500px;
            }
            .kid_1{
                position: absolute;
                bottom: 0;
                right: -200px;
                width: auto;
            }
        }
        @media(min-width: $screen-md){
            .decoration-inner{
                width: $screen-md;
            }
            .kid_1{
                right: -150px;
            }
        }
        @media(min-width: $screen-lg){
            .decoration-inner{
                width: $screen-lg;
            }
            .kid_1{
                right: 0px;
            }
        }

        @media(min-width: $screen-xl){
            .decoration-inner{
                width: $screen-xl;
            }
            .decoration-bg{
                height: 700px;
            }
            .kid_1{
                right: -50px;
            }
        }
    }

    @media(min-width: $screen-lg){
        .main-text{
            text-align: left;
        }
        .sub-text{
            text-align: left;
        }
        .input-item,
        .input-item-checkbox,
        .input-item-submit{
            justify-content: left;
            align-items: flex-start;
        }
    }

    @media(min-width: $screen-xl){
        .main-text{
            font-size: 2.25rem;
            text-align: left;
        }
        .sub-text{
            font-size: 1.4rem;
        }
        .form{
            max-width: 450px;
        }
    }
}
