footer{
background-color: $color-soft-red;
display: block;
padding: 40px 0;
.content-inner{
    flex-wrap: nowrap;
}
@media(max-width: $screen-xl){
    .content-inner{
        flex-direction: column;
    }
    .logo-box{
        width: 100%;
        padding: 0 20px;
    }
    .footer-menu{
        padding-bottom: 25px;
    }
}
.logo-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img-box{
        height: 121px;
        min-width: 99px;
        width: 99px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    span{
        padding-left: 25px;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
    }
}
.footer-menu{
    display: flex;
    justify-content: center;
    width: 100%;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.1rem;
        li{}
        a{
            margin: 10px;
            color: $color-white;
            &:hover,
            &:focus,
            &:active{
                color: $color-white;
                text-decoration: none;
            }
        }
    }
    .confident{
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active{
            color: $color-white;
            text-decoration: underline;
        }
    }
}

//desktop
@media(min-width: $screen-xl){
    .content-inner{
        align-items: center;
        justify-content: space-between;
    }
    .logo-box{
        display: flex;
        align-items: center;
        .img-box{
            height: 150px;
            width: 123px;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        span{
            padding: 15px;
            max-width: 292px;
            font-size: 1rem;
            line-height: 100%;
            font-weight: 700;
            color: $color-white;
            text-transform: uppercase;
        }
    }
    .footer-menu{
        max-width: 65%;
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            font-size: 0.9rem;
            li{}
            a{
                margin: 15px;
                color: $color-white;
                transition: $transition-fast;
                &:hover,
                &:focus,
                &:active{
                    text-decoration: none;
                    text-shadow: 0 0 20px $color-yellow;
                    font-weight: 700;
                    transition: $transition-fast;
                }
            }
        }

    }
}
}
