@font-face {
	font-family: 'Geometria';
	src: url($path+'/fonts/Geometria/Geometria.eot');
	src: local($path+'/fonts/Geometria'),
		url($path+'/fonts/Geometria/Geometria.eot') format('embedded-opentype'),
		url($path+'/fonts/Geometria/Geometria.woff') format('woff'),
		url($path+'/fonts/Geometria/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
